streamlit
yfinance
yahooquery
pandas
numpy
plotly
scikit-learn
pandas-ta
supabase
textblob
nltk
feedparser
beautifulsoup4
lxml
fpdf
reportlab
arch
scipy
statsmodels
akshare
openfigi
matplotlib
google-generativeai
ml4t-data
finagg
pywencai