streamlit
yfinance==0.2.40
yahooquery
pandas
numpy
plotly
scikit-learn
pandas-ta
supabase
textblob
nltk
feedparser
beautifulsoup4
lxml
fpdf
reportlab
arch
scipy
statsmodels==0.14.0
matplotlib
google-generativeai
websockets==12.0