streamlit
yfinance
yahooquery
requests
pandas
numpy
pandas-ta
plotly
scikit-learn
supabase
matplotlib
google-genai
pandas-datareader
textblob
nltk
feedparser
beautifulsoup4
lxml
fpdf
reportlab
arch
scipy